*{
	margin: 0;
	padding: 0;
}
body{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.main{
	width: 900px;
	display: flex;
	flex-direction: column;
}
img{
	border-radius: 50%;
	box-shadow: 0 0 0 4px white, 0 0 15px #333;
	width: 135px;
}
.header{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.first{
	border-radius: 20px;
	background-color: #1b9af9;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.photo{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.name{
	font: bold 35px Times New Roman;
	color:#fff;
	text-align: center;
}
.github{
	text-align: center;
	color:#fff;
	text-shadow: red 0 0 5px;
}
.second{
	border:1px solid;
	border-radius: 20px;
	margin-top: 10px;
}
.text{
	margin:15px 20px;
	font: normal 19px Times New Roman;
	line-height: 1.5;
}
h2{
	color: #243847;
	text-align: center;
	text-decoration: underline;
	margin-bottom: 10px;
}
li{
	margin-left: 15px;
}